<!DOCTYPE html>
<html>
    <head>
        <title>Premiere Scheduling</title>
        <meta name="viewport" content="width=device-width">
        <link href="/style/global.css" rel="stylesheet" type="text/css"/>
        <link href="/style/bootStrapGrid.css" rel="stylesheet" type="text/css"/>
        <link href="/style/imageCrop.css" rel="stylesheet" type="text/css"/>
        <link href="/style/animations.css" rel="stylesheet" type="text/css"/>
    </head>
    <div id="alertContainer" class="hidden">
        <div id="alertText">
            <!-- alert text is appended in showNotification() in global.js-->
        </div>
    </div>
    <body id="background">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">
            <div id="main">
