
/*Customer Panel Styles*/


.customerContainer{
    width : 100%;
    position: relative;
    z-index:0;
}

.customerButton { 
    position: relative;
    z-index: 1;
    text-align: left;
    padding-left:5%;
    padding-right:5%;
}

.customerButtonName{
    padding-left : 5%;
    position : relative;
    text-align: left;
    display: block;
    width:60%;
}

.selectedImg{
    width:100%;
    border-radius: 10px;
}

.customerText{
    padding-left : 5%;
}

.customerText > div{
    padding-top : 3%;
    padding-bottom : 3%;
}

.newCustomer {
    background-color:rgb(125, 65, 254);
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    padding-top:5%;
    padding-bottom:5%;
    width:100%;
    text-align: center;
    font-size:5vw;
    color:black;
}


#imgPreview{
    width:100%;
}

#newCustomerButton,
.customerEdit,
.editSubmit,
#createCustomerButton,
#cancelCreate{
    text-align: center;
}


@media screen and (min-width:500px){
    .newCustomerInputContainer{
        padding-right:5% !important;
    }
}
@media screen and (min-width:1000px){
    .customerContainer{
        padding-right:1%;
        padding-left:1%;
    }
}