#imgPreview, .imgPreviewNoCrop{
    width:100%;
    height : auto;
    border : solid;
    border-color : rgb(125, 65, 254);
}
#uploadLocal,
#editProfileSubmit{
    text-align: center;
}

#imgPreviewContainer > div > a {
    text-align:center;
}


/* Slider Styles */
input[type=range] {
    width: 100%;
    margin: 5.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #ebebeb;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -6px;
    width: 10px;
    height: 20px;
    background: #7d41ff;
    border: 1px solid #7d41ff;
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #f8f8f8;
  }
  input[type=range]::-moz-range-track {
    background: #ebebeb;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: #7d41ff;
    border: 1px solid #7d41ff;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 6.8px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #dedede;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
    background: #ebebeb;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
    width: 10px;
    height: 20px;
    background: #7d41ff;
    border: 1px solid #7d41ff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ebebeb;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #f8f8f8;
  }

  @media (min-width : 500px){
	#imgPreview{
		max-width: 300px;
	}
}
  @media (min-width : 1000px){
    #imgPreview{
      max-width: 500px;
    }
  }