<%- include("./includes/header.ejs"); -%>
<%- include("./includes/css/appointmentsCSS.ejs"); -%>
<div class="row no-gutters" id="mainContainer">
    <h1 class="col-12 title1">Appointments</h1>
    <!--Content is created and appended in appointments.js appendContent function-->
    
    
</div>






<%- include("./includes/js/appointmentsJS.ejs"); -%>
<%- include("./includes/footer.ejs"); -%>